@model IEnumerable<Garage2.Models.ParkedVehicle>

@{
    ViewBag.Title = "Garage";
}

<h2>Garage</h2>

<p>
    <button onclick="location.href='@Url.Action("Create")';return false;">Park Vehicle</button>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by:
            <select name="SearchOption">
                <option selected value="Registration">Registration Number</option>
                <option value="Color">Color</option>
                <option value="Model">Model</option>
                <option value="NumberOfWheels">Number of wheels</option>
            </select>
            <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> 
        </p>
    </div>
</form>
<form method="get">
    <select name="sortOrder" onchange="this.form.submit();">
        <option selected hidden>Sort Order</option>
        <option value="Type">Type of vehicle</option>
        <option value="Registration">Registration Number</option>
        <option value="Color">Color</option>
        <option value="Model">Model</option>
        <option value="NumberOfWheels">Number of wheels</option>
        <option value="ArrivalTime">Time of arrival</option>
    </select>
</form>
<tr>
        <table class="table">

            <th>
                @Html.DisplayNameFor(model => model.TypeOf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Registration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfWheels)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalTime)
            </th>
            <th></th>
</tr>
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOf)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Registration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumberOfWheels)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ArrivalTime)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Unpark", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>

